@import './modules/base.scss';
@import './modules/header.scss';
@import './modules/footer.scss';

main{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    .shuffling{
        width: 100%;
        height: 420px;
        background: #ececec;
        position: relative;
        .ft-carousel {
            position: relative;
            width: 100%;
            height: 420px;
            overflow: hidden;
        }
        
        .ft-carousel .carousel-inner {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }
        
        .ft-carousel .carousel-inner .carousel-item {
            float: left;
            height: 100%;
        }
        
        .ft-carousel .carousel-item img {
            width: 100%;
        }
        
        .ft-carousel .carousel-indicators {
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 100%;
            text-align: center;
            font-size: 0;
        }
        
        .ft-carousel .carousel-indicators span {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color: #fff;
            margin: 0 4px;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .ft-carousel .carousel-indicators span.active {
            background-color: #de3a3a;
        }
        
        .ft-carousel .carousel-btn {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 45px;
            margin-top: -25px;
            cursor: pointer;
        }
        
        .ft-carousel .carousel-prev-btn {
            left: 0;
            background: url(http://localhost:1905/images/shuffling-prev.png) no-repeat;
        }
        
        .ft-carousel .carousel-next-btn {
            right: 0;
            background: url(http://localhost:1905/images/shuffling-next.png) no-repeat;
        }
            .Classification-list{
                position: absolute;
                left: 60px;
                top: 0px;
                width: 215px;
                height: 420px;
                float: left;
                background: #000c;
                .classify-list{
                    width: 215px;
                    height: 384px;
                    margin-top: 18px;
                    li{
                        width: 100%;
                        height: 64px;
                        overflow: hidden;
                        a{
                            display: block;
                            color: #fff;
                            width: 100%;
                            height: 64px;
                            line-height: 64px;
                            text-align: center;
                            font-size: 14px;
                        }
                        a:hover{
                            background: #2884c7;
                        }
                    }
                }
            }
            .product-type{
                position: absolute;
                top: 0;
                left: 275px;
                width: 931px;
                height: 420px;
                float: left;
                background: #fff;
                display: none;
            }
            .product-type-clone{
                display: block;
                width: 931px;
                height: 420px;
                float: left;
                background: #fff;
            }
    }
    .main-content{
        width: 100%;
        height: 100%;
        .wrap{
            width: 1146px;
            height: 100%;
            margin: 0 auto;
            .set{
                width: 100%;
                height: 140px;
                ul{
                    width: 100%;
                    height: 140px;
                    display: flex;
                    justify-content: space-between;
                    li{
                        width: 215px;
                        height: 140px;
                        a{
                            display: block;
                            width: 215px;
                            height: 140px;
                            background: #2884c7;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .reduced-price{
                width: 100%;
                height: 362px;
                margin-top: 20px;
                .title{
                    width: 100%;
                    height: 32px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #333; 
                }
                .main-goods{
                    width: 100%;
                    height: 330px;
                    ul{
                        width: 100%;
                        height: 330px;
                        display: flex;
                        justify-content: space-between;
                        li{
                            width: 215px;
                            height: 330px;
                            background: #fff;
                            .product-pic{
                                width: 160px;
                                height: 170px;
                                margin: 0 auto;
                                a{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .product-type{
                                width: 100%;
                                height: 30px;
                                line-height: 23px;
                                font-size: 14px;
                                text-align: center;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            .product-price{
                                width: 100%;
                                height: 35px;
                                line-height: 26px;
                                text-align: center;
                                color: red;
                                font-weight: bold;
                            }
                            .product-btn{
                                width: 98px;
                                height: 32px;
                                margin: 0 auto;
                                margin-top: 25px;
                                a{
                                    display: block;
                                    width: 100%;
                                    height: 32px;
                                    background: red;
                                    color: #fff;
                                    line-height: 32px;
                                    text-align: center;
                                    font-size: 14px;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .area-center{
                width: 1146px;
                height: 100%;
                margin-top: 30px;
                .area-header-wrap{
                    width: 1146px;
                    height: 32px;
                    .area-header-title{
                        font-size: 18px;
                        color: #333;
                        font-weight: bold;
                        height: 32px;
                        line-height: 32px;
                        padding: 0 0 11px;
                        span{
                            font-size: 13px;
                            font-weight: normal;
                            margin-left: 10px;
                        }
                    }
                }
                .area-list-type-01{
                    width: 1146px;
                    height: 100%;
                    .product-list{
                        width: 1146px;
                        height: 757px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-content: space-between;
                        .banner-01{
                            width: 566px;
                            height: 372px;
                            float: left;
                            background: #2884c7;
                            a{
                                display: block;
                                width: 100%;
                                height: 100%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        li{
                            width: 276px;
                            height: 372px;
                            background: #fff;
                            position: relative;
                            overflow: hidden;
                            .product-label{
                                width: 100%;
                                height: 20px;
                                margin-top: 5px;
                                span{
                                    display: block;
                                    width: 70px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    background: yellowgreen;
                                    color: #fff;
                                    border-radius: 5px;
                                    margin: 0 auto;
                                }
                            }
                            .product-pic{
                                width: 225px;
                                height: 225px;
                                margin: 0 auto;
                                a{
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            .product-type{
                                width: 100%;
                                height: 24px;
                                margin-top: 5px;
                                line-height: 24px;
                                text-align: center;
                                font-size: 12px;
                            }
                            .product-desc{
                                width: 100%;
                                height: 20px;
                                margin-top: 5px;
                                line-height: 24px;
                                text-align: center;
                                font-size: 12px;
                            }
                            .product-price{
                                width: 100%;
                                height: 28px;
                                line-height: 24px;
                                text-align: center;
                                color: red;
                            }
                            .product-btn{
                                width: 276px;
                                height: 32px;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                text-align: center;
                                transition: transform 300ms linear;
                                transform: translateY(32px);
                                a{
                                    display: inline-block;
                                    width: 98px;
                                    height: 32px;
                                    line-height: 32px;
                                    background: red;
                                    color: #fff;
                                    border-radius: 5px;
                                    margin: 0 8px;
                                }
                                .btn-1{
                                    background: #2884c7;
                                }
                            }
                        }
                        li:hover .product-btn{
                            position: absolute;
                            left: 0;
                            top: 300px;
                        }
                    }
                }
            }
        }
    }
}

